[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pytz = "==2018.3"
awesome-slugify = "==1.6.5"
pillow = "==5.1.0"
"argon2-cffi" = "==18.1.0"
whitenoise = "==3.3.1"
redis = ">=2.10.5"
celery = "==3.1.25"
django = "==2.0.4"
django-environ = "==0.4.4"
django-model-utils = "==3.1.1"
django-allauth = "==0.35.0"
django-crispy-forms = "==1.7.2"
django-redis = "==4.9.0"
djangorestframework = "==3.7.7"
coreapi = "==2.3.3"
gevent = "==1.2.2"
gunicorn = "*"
"boto3" = "==1.6.2"
"psycopg2" = "==2.7.4"
raven = "==6.6.0"
django-storages = "==1.6.6"
django-anymail = "==2.0"


[dev-packages]



[requires]

python_version = "3.6"
