<!DOCTYPE html>
{% load staticfiles %}

<head>

</head>

<body>
    <div>
        <h1>This is about tomorrowColor</h1>

        <p>1. First, We want our products to get accross the globe, it could be digital or physical products</p>
        <p>2. Second, It's our determination to create life improving apps, It could be for any purpose that add meaning to life</p>
        
    </div>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/mission.css' %}">

</body>
